@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

@theme {
	--color-main: oklch(43.806% 0.07763 267.44);
	--color-main-50: oklch(67.346% 0.06799 269.02);
	--color-main-100: oklch(64.5% 0.07488 269.18);
	--color-main-200: oklch(58.913% 0.08829 267.68);
	--color-main-300: oklch(53.376% 0.09824 267.74);
	--color-main-400: oklch(48.645% 0.08902 267.38);
	--color-main-500: oklch(43.806% 0.07763 267.44);
	--color-main-600: oklch(38.092% 0.06612 267.48);
	--color-main-700: oklch(32.095% 0.05242 267.1);
	--color-main-800: oklch(25.807% 0.03782 266.31);
	--color-main-900: oklch(18.89% 0.02535 269.72);
}

/* .font-gloock {
	font-family: "Gloock", serif;
	font-weight: 400;
	font-style: normal;
} */

.font-display {
	font-family: "Outfit", sans-serif;
}

/* ...existing code... */

.scrollbar-hide::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

.scrollbar-hide::-webkit-scrollbar-thumb {
	background-color: rgba(255, 255, 255, 1);
	border-radius: 9999px;
}

.scrollbar-hide::-webkit-scrollbar-track {
	background: transparent;
}

/* For Firefox */
.scrollbar-hide {
	scrollbar-width: thin;
	scrollbar-color: rgba(255, 255, 255, 1) transparent;
}

body {
	overflow-x: hidden;
}