@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

@theme {
	--color-main: oklch(45.251% 0.05127 268.74);
	--color-main-50: oklch(68.319% 0.04689 272.4);
	--color-main-100: oklch(65.7% 0.05057 271.76);
	--color-main-200: oklch(60.106% 0.05982 270.92);
	--color-main-300: oklch(54.667% 0.06649 269.59);
	--color-main-400: oklch(50.076% 0.05958 269.95);
	--color-main-500: oklch(45.251% 0.05127 268.74);
	--color-main-600: oklch(39.261% 0.04256 268.49);
	--color-main-700: oklch(33.085% 0.03512 268.77);
	--color-main-800: oklch(26.551% 0.02546 268.28);
	--color-main-900: oklch(19.586% 0.01492 266.81);
}

/* .font-gloock {
	font-family: "Gloock", serif;
	font-weight: 400;
	font-style: normal;
} */

.font-display {
	font-family: "Outfit", sans-serif;
}

/* ...existing code... */

.scrollbar-hide::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

.scrollbar-hide::-webkit-scrollbar-thumb {
	background-color: rgba(255, 255, 255, 1);
	border-radius: 9999px;
}

.scrollbar-hide::-webkit-scrollbar-track {
	background: transparent;
}

/* For Firefox */
.scrollbar-hide {
	scrollbar-width: thin;
	scrollbar-color: rgba(255, 255, 255, 1) transparent;
}

body {
	overflow-x: hidden;
}